# --- LLM API Keys ---
OPENAI_API_KEY="sk-xxxxxxxx"
OPENAI_BASE_URL="xxxxxx"

# --- API Keys for other services ---
GITHUB_TOKEN="xxxxxx"

# --- Environment Variables for Networking ---
HF_ENDPOINT=""
GITHUB_PROXY=""
