# --- LLM API Keys ---
OPENAI_API_KEY="sk-xxxxxxxx"
OPENAI_BASE_URL="xxxxxx"

# --- API Keys for other services ---
GITHUB_TOKEN="xxxxxx"

# --- Environment Variables for Networking ---
HF_ENDPOINT="https://hf-mirror.com"
GITHUB_PROXY="http://127.0.0.1:7890"
